venv 
gh.py
gpt4.py
new_version.py 
new.py 
norm.py 
one_more.py 
processed_image.py 
Rag_pipeline.py 
steam.py 
test.py 
test2.py 
test3.py 
test4.py 
test123.py 
test1234.py 
testables.py 
ty.png
*.png
.env
cred.json 
flow.png